* {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body {
  box-sizing: border-box;
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    background-color: white;
    border: 1px solid #fff;
  }
  .input {
    border: 1px solid #777;
    border-radius: 0;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .select {
    border: 1px solid #777;
    border-radius: 0;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
}
